* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.content {
    display: flex;
}

.left-image {
    background-color: blue;
    height: 100vh;
    flex: 1 0 0;
}

.left-image > .icon-container {
    background-color: rgba(255, 255, 255, 0.5);
    height: 8rem;
    width: 100%;
    position: relative;
    top: 5rem;
}

.right-form {
    background-color: green;
    height: 100vh;
    flex: 2 0 0;
}

.right-form > .form-container {
    background-color: lightgrey;
    position: relative;
    height: 15rem;
    width: 100%;
    top: 13rem;
}